*{
    margin: 0;
    padding: 0;
}

.contenedor {
  display: block;
  color: black;
  font-family: 'Kanit', sans-serif;
  margin: auto;
  font-size: 20px;
  text-align: center;
}
.header {
  line-height: 50px;
}
.pic img {
    padding-top: 1rem;
    width: 18rem;
  }
  .titulo {
    font-size: 2rem;
    color: rgb(120, 167, 27);
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  }
  .moto {
    font-size: 1.7rem;
    color: blue;
    padding-bottom: 1rem;
    } 
   

.nav {
    background-color: #f7b425;
    height: 80px;
    width: 100%;
   /* top: 60px;*/
   /* left: 0;*/
    /*display: flex;*/
    /*align-content:center;*/
  }
 .nav .nav-menu {
    display: flex;
    /*margin-right: 40px;*/
    list-style: none;
    justify-content: center;
  }
  .link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 7px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
    padding: 8px 10px;
  }  

  .link:hover, .link_active {
    background: none;
    color: rgb(108, 100, 23);   
  }
  
  /* TOGGLE */
  .toogle {
    color: rgb(21, 84, 28);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
  }
.landscape{
    width: 70%;
    margin: auto;
    padding: 0;
}
picture img {
  width: 100%;

}
.contenido {
  width: 70%;
  margin: auto;
  padding: 50px;
}
.five{
  text-align: left;
  padding-left: 20px;
}
.fived{
  width: 50%;
  box-shadow: 5px 5px 10px;
}
.article{
  margin-left: 300px;
  padding:30px;
  
}
.imaart {
  margin-right: 300px;

}


@media (max-width: 768px) {
      
    body {
      padding-top: 0px;
    }
    header {
      height: 60px;
    }
    .titulo{
      font-size: 1.5rem;
    }
    .pic img {
      padding-top: 1rem;
      width: 14rem;
    }
    .moto{
      font-size: 1.2rem;
    }
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #2c3e50;
      position: fixed;
      left: 0;
      top: 340px;
      width: 100%;
      padding: 20px 0;
      height: calc(52% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
    }
  
    .link {
      line-height: 60px;
    }
  
    .link:hover,
    .link_active {
      background: none;
      color: rgb(181, 169, 169);
    }
  
    .nav .toogle {
      display: block;
    }
    .nav-menu_visible {
      left: 0;
    }
  
    nav .toggle:focus:not(:focus-visible) {
      outline: none;
    }
  }
