.contenedor {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 250px 1fr 1fr 1fr 250px;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:"header     header   header      header      header"
                        "nav         nav     nav         nav         nav"
                        "space   landscape   landscape   landscape     space1"
                        "space   contenido   contenido   contenido    space1"
                        "space   article     imaart     imaart    space1"
                        "space   footer      footer      footer    space1";
}
.contenedor .header {
    background: white;
    grid-area: header;
}
.contenedor .nav {
    grid-area: nav;
}
.contenedor .space {
    grid-area: space;
  
}
.contenedor .space1 {
    grid-area: space;
  
}

.contenedor .landscape {
    grid-area: landscape;
}
.contenedor .contenido{

    grid-area:contenido;
}
.contenedor .article{
    grid-area:article;
}
.contenedor .imaart{
    background: rgb(60, 125, 41);
    grid-area:imaart;
}
.contenedor .footer{
    background: rgb(5, 5, 5);
    color: white;
    grid-area:footer;
}
