.contenedor {
    display: grid;
    grid-template-columns: 600px 300px 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:"header      header      header"
                        "nav         nav         nav"
                        "landscape   landscape   landscape"
                        "contenido   contenido   contenido"
                        "article     article     imaart"
                        "footer      footer      footer";
}
.contenedor .header {
    background: white;
    grid-area: header;
}
.contenedor .nav {
    grid-area: nav;
}
.contenedor .landscape {
    grid-area: landscape;
}
.contenedor .contenido{
    grid-area:contenido;
}
.contenedor .article{
    background-color: #f7b425;
    grid-area:article;
}
.contenedor .imaart{
    background: rgb(132, 199, 204);
    grid-area:imaart;
}
.contenedor .footer{
    background: rgb(5, 5, 5);
    grid-area:footer;
}
