.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20rem 6rem 75rem 50rem 30rem 30rem;
    grid-gap: 10px;
    grid-template-areas:"header      header      header"
                        "nav         nav         nav"
                        "landscape   landscape   landscape"
                        "contenido   contenido   contenido"
                        "article     article     imaart"
                        "footer      footer      footer";
}
.contenedor .header {
    background: rgb(253, 253, 253);
    grid-area: header;
}
.contenedor .nav {
    grid-area: nav;
}
.contenedor .landscape {
    grid-area: landscape;
}
.contenedor .contenido{
    background: yellow;
    grid-area:contenido;
}
.contenedor .article{
    background: rgb(82, 44, 147);
    grid-area:article;
}
.contenedor .sidebar-2{
    background: rgb(132, 199, 204);
    grid-area:sidebar-2;
}
.contenedor .footer{
    background: yellow;
    grid-area:footer;
}
