* {
  margin: 0;
  box-sizing: border-box;
  }
  header {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: rgb(120, 167, 27);
  }
  .pic img {
    padding-top: 1rem;
    width: 18rem;
  }
  .titulo {
    font-size: 2rem;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  }
  .moto {
    font-size: 1.7rem;
    color: blue;
    padding-bottom: 1rem;
    } 
  .nav {
      background-color: #f7b425;
      height: 80px;
      width: 100%;
     /* top: 60px;*/
     /* left: 0;*/
      /*display: flex;*/
      /*align-content:center;*/
    }
   .nav .nav-menu {
      display: flex;
      /*margin-right: 40px;*/
      list-style: none;
      justify-content: center;
    }
    .link {
      color: white;
      text-decoration: none;
      font-size: 18px;
      margin: 0px 7px;
      line-height: 80px;
      text-transform: uppercase;
      width: max-content;
      padding: 8px 10px;
    }  
 
    .link:hover, .link_active {
      background: none;
      color: rgb(108, 100, 23);   
    }
    
    /* TOGGLE */
    .toogle {
      color: rgb(21, 84, 28);
      background: none;
      border: none;
      font-size: 30px;
      padding: 0 20px;
      line-height: 60px;
      cursor: pointer;
      display: none;
    }
    main {
      font-family: 'Kanit', sans-serif;
      max-width: 1000px;
      margin : auto;
      line-height: 20px;
      text-align: left;
      color:rgb(120, 167, 27);
      display: grid;
      grid-template-rows: 50px 300px 50px 160px 300px 300px;
      grid-gap: 10px;
    }
    picture img {
      width: 100%;
    }
    .landscape{
      position: relative;
    }
  
    .summary {
      color:black;
      line-height: 2px;
      position: absolute;
      top: 20px;
      left: 1rem;
      background: radial-gradient(rgb(245, 242, 242), #f7f6f4);
      border: 1px solid #000;
      padding: 10px;
      box-shadow: 0 0 30px #333;
      opacity: .9;
    }
    
  
    