* {
  margin: 0;
  box-sizing: border-box;
  }
  header {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: rgb(120, 167, 27);
  }
  .pic img {
    padding-top: 1rem;
    width: 18rem;
  }
  .titulo {
    font-size: 2rem;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  }
  .moto {
    font-size: 1.7rem;
    color: blue;
    padding-bottom: 1rem;
    } 
  .nav {
      background-color: #f7b425;
      height: 80px;
      width: 100%;
     /* top: 60px;*/
     /* left: 0;*/
      /*display: flex;*/
      /*align-content:center;*/
    }
   .nav .nav-menu {
      display: flex;
      /*margin-right: 40px;*/
      list-style: none;
      justify-content: center;
    }
    .link {
      color: white;
      text-decoration: none;
      font-size: 18px;
      margin: 0px 7px;
      line-height: 80px;
      text-transform: uppercase;
      width: max-content;
      padding: 8px 10px;
    }  
 
    .link:hover, .link_active {
      background: none;
      color: rgb(108, 100, 23);   
    }
    
    /* TOGGLE */
    .toogle {
      color: rgb(21, 84, 28);
      background: none;
      border: none;
      font-size: 30px;
      padding: 0 20px;
      line-height: 60px;
      cursor: pointer;
      display: none;
    }
    
  
  
    