body {
    background-image: url('images/ddd.jpg');
    background-size: cover;
    font-family: 'Frijole', cursive;
    text-align: center;
}
.sup {
    width: 150px;
    height: 150px;
    margin: 120px;
    position:absolute;
    animation-name: super;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-direction:alternate-reverse;
    animation-timing-function:ease;
  }
  
  @keyframes super{
      
    0% {
        left: 0;
        top: 0;
    }
    25% {
        left: 70rem;
        top: 0rem;
    }
    50% {
        top: 25rem;
        left: 20rem;
    }
    75%{
        top: 10rem;
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
  }
  