@media (max-width: 600px) {
      
    body {
      padding-top: 0px;
    }
    header {
      height: 60px;
    }
    .titulo{
      font-size: 1.5rem;
    }
    .pic img {
      padding-top: 1rem;
      width: 14rem;
    }
    .moto{
      font-size: 1.2rem;
    }
    .nav-menu {
      flex-direction: column;
      align-items: center;
      margin: 0;
      background-color: #2c3e50;
      position: fixed;
      left: 0;
      top: 340px;
      width: 100%;
      padding: 20px 0;
      height: calc(52% - 60px);
      overflow-y: auto;
      left: 100%;
      transition: left 0.3s;
    }
  
    .link {
      line-height: 60px;
    }
  
    .link:hover,
    .link_active {
      background: none;
      color: rgb(181, 169, 169);
    }
  
    .nav .toogle {
      display: block;
    }
    .nav-menu_visible {
      left: 0;
    }
  
    nav .toogle:focus:not(:focus-visible) {
      outline: none;
    }
  }
